@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bree+Serif&family=Cabin:wght@400;500;600&family=Poppins:wght@300;400;500;600;700&family=Work+Sans:wght@100;200&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.header{
    background-color: #171717;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.nav-menu-link{
    position: relative;
    color: white;
    text-decoration: none;
}

.logo img{
    width: 80px;
    margin-left: 25px;
    animation-name: pulse;
    animation-duration: 1s;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    font-weight: 600;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 10px;
}

.nav-menu-link:hover{
    transition: .5s;
}

.nav-menu-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: .5s;
}

.nav-menu-link:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}




.footer{
    width: 100%;
}
.footer-container{
    background-color: #171717;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}
.footer-arriba{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.logo-ft img{
    width: 100px;
}
.social ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 30px;
}
.social a{
    cursor: pointer;
}

.social a:hover{
    color: #ff8800;
}

.delivery ul{
    list-style: none;
    display: flex;
    gap: 20px;
    
}

.copy{
    display: flex;
    justify-content: center;
    background-color: #2e2e2e;
}

.nav2{
    width: 100%;
    margin-top: 80px;
}

.nav2-container{
    background-color: #8c8c8c;
}

.nav2-container ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 600;
}

.nav2-container ul a{
    text-decoration: none;
    color: #000;
}


.combos{
    width: 100vw;
}

.combos-container{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    animation-name: pulse;
    animation-duration: 1s;
}

.img-card{
    width: 80%;
}

.card img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

@keyframes pulse {
    0%{
        transform: scale(.8);
    }

    
    100%{
        transform: scale(1);
    }
}

.card{
    margin: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}


.card:hover{
    transform: scale(1.1);
}

.card-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.btn-c{
    position: relative;
    display: inline-block;
    margin-top: 10px;
    font-size: 1em;
    letter-spacing: .1em;
    color: #ff8800;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #ff8800;
    padding: 10px 5px;
    z-index: 1;
    overflow: hidden;
    transition-delay: 0s, 1s;
}

.btn-c:hover{
    color: #ffffff;
}

.btn-c::before{
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
    width: 0;
    height: 100%;
    background: #ff8800;
    transform: skewX(-35deg);
    transition: 1s;
    z-index: -1;
}

.btn-c:hover:before{
    width: 150%;
}


@media (max-width: 768px){
    .nav-menu{
        display: flex;
        flex-direction: column;
        margin: 0;
        background-color: #2e2e2e;
        position: fixed;
        left: 0;
        top: 80px;
        width: 100%;
        align-items: center;
        padding: 0;
        left: 100%;
        transition: left 0.3s;
    }

    .nav-menu-link:hover{
        background: none;
        color: #ffffff;
        transition: .5s;
    }

    .toggle{
        display: block;
        cursor: pointer;
    }

    .nav-menu_visible{
        left: 0;
    }

    
    .combos-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 50px;
    }

    .card{
        width: 70%;
    }


    .footer-arriba{
        flex-direction: column;
    }

    .logo-ft img{
        margin-left: 30px;
    }

    .social ul{
        flex-direction: column;
    }

    .delivery ul{
        flex-direction: column;
    }

    .copy{
        font-size: 12px;
    }

    
    .nav2-container ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        }
}